* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {font-size: 62.5%;}

body {
    height: 100vh;
    width: 100%;
    font-size: 1.6rem;
    background-image: url(assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.max-width-container {max-width: 825px;}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-content {
    margin: 70px 0 0 164px;
    text-align: left;
}

.call-content h1 {
    padding: 50px 0;
    font-size: 8rem;
    font-weight: bold;
    line-height: 8rem;
    letter-spacing: -1px;
}

.call-content p {
    font-size: 2rem;
}

.image-first { 
    display: flex;
    justify-content: flex-end;
    margin-top: -565px;
}

.image-first img {
    max-width: 312px;
    max-height: 468px;
}

.title-content {
    padding: 70px 0 0 165px;
}

.container-black {
    background-color: #191826;
    width: 100%;
    height: auto;
    max-width: 1110px;
    height: 600px;
}

.image-two img {
    width: 100%;
    max-width: 312px;
    max-height: 468px;
}

.image-three img {
    width: 100%;
    height: auto;
    max-width: 312px;
    height: 642px;
}


.card {
    background-color: #FA7453;
    padding: 30px;
    width: 100%;
    max-width: 446px;
    height: 625px;
    text-align: left;
    border-radius: 3%;
}

.card h2 {
    color: #FCFAF9;
    font-size: 4rem;
    padding: 30px 0 22px 20px;
}

.card p { 
    color: #FCFAF9;
    font-size: 20px;
    font-weight: 400;
    padding: 0 39px 39px 20px;
}

.card strong {
    color: #FCFAF9;
    font-size: 6rem;
}

.b1 {
    color: #FCFAF9;
    background-color: #191826;
    width: 100%;
    max-width: 333px;
    height: 61px;
    font-size: 1.8rem;
    font-weight: bold;
}

.b2 {
    color: #191826;
    background-color: #FCFAF9;
    width: 100%;
    max-width: 333px;
    height: 61px;
    font-size: 1.8rem;
    font-weight: bold;
}

.b1-apple {padding-right: 5px;}

.b2-robot {padding-right: 5px;}
