* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {font-size: 62.5%;}

body {
    font-size: 1.6rem;
    background-image: url(assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:60%;
    background-position-y: -180px;
}

.max-width-container {width: 100%; max-width: 1024px;}

.container {
    padding: 221px 115px 0 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-content {
    width: 100%;
    margin-top: -175px;
    text-align: left;
}

.call-content h1 {
    width: 100%;
    padding: 40px 0px;
    font-size: 8rem;
    font-weight: bold;
    line-height: 8rem;
    letter-spacing: -1px;
}

.call-content p {
    width: 100%;
    height: auto;
    font-size: 2rem;
    line-height: 2.7rem;
}


.image-first img {
    position: absolute;
    top: -40px;
    right: 1px;
    max-width: 312px;
    max-height: 468px;
}

.title-content {
       margin-bottom: 90px;
}

.container-black {
    margin:305px 70px;
    background-color: #191826;
    width: 100%;
    max-width: 1110px;
    height: 600px;
    border-radius: 12px;
}


.image-relative img {
    position: relative;
    bottom: 30px;
    left: 350px;
    width: 100%;
    max-width: 312px;
    height: 468px;
}

.image-absolute img {
    position: absolute;
    top: 599px;
    left: 185px;
    max-width: 313px;
    height: 642px;
}


.card {
    position: absolute;
    top: 935px;
    left: 650px;
    background-color: #FA7453;
    padding: 15px;
    width: 100%;
    max-width: 446px;
    max-height: 625px;
    text-align: left;
    border-radius: 3%;
}

.card h2 {
    width: 100%;
    color: #FCFAF9;
    font-size: 4rem;
    padding: 30px 0 22px 20px;
}

.card p { 
    width: 100%;
    color: #FCFAF9;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 39px 39px 20px;
}

.card strong {
    color: #FCFAF9;
    font-size: 6rem;
}

.b1,.b2 {
    margin: 8px 25px;
    width: 100%;
    max-width: 333px;
    height: 61px;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
}

.b1{
    color: #FCFAF9;
    background-color: #191826;
    transition: 0.5s;
}

.b1:hover {
    background-color: #66E2DC;
    color: #FCFAF9;
    cursor: pointer;
}

.b2{
    color: #191826;
    background-color: #FCFAF9;
    transition: 0.5s;
}

.b2:hover {
    background-color: #FFB964;
    color: #191826;
    cursor: pointer;
}

.b1-apple {padding-right: 5px;}

.b2-robot {padding-right: 5px;}

.footer {
    width: 100%;
    margin-top: -100px;
    margin-bottom: 91px;
    display: flex;
    justify-content: space-between;
    text-align: start;
    font-size: 1.6rem;
}

.title2 {margin-left: 70px;}

.container-footer {
    display: flex;
    gap: 90px;
}

.content-footer p {
    padding-right: 400px;
}

span {
    color: black;
    font-weight: bold;
}

.icones {
    margin-right: 150px;
    display: flex;
    gap: 20px;
}

.svg-fill:hover {
    fill: #FA7453;
}


/*Media Queries*/

@media (min-width:768px) and (max-width:1115px) {
    .call-content h1 {font-size: 5.8rem; padding-right: 105px; padding-top: 0; padding-bottom: 5px;}
    .call-content p { font-size: 1.6rem;}
    .container-black {width: 696px; margin:200px 43px;}
    .card {width: 399px; height: 546px;  top: 870px; left: 290px;}
    .card p {font-size: 1.8rem;}
    .card h2 {font-size: 3rem;}
    .image-first img {width: 265px;}
    .image-absolute img {width: 271px; height: 556px;  top: 575px; left: 110px;}
    .image-relative img {left: 220px;}
    .container-footer {flex-wrap: wrap; margin-left: 80px;}
    .title2 {margin:100px 0 0 10px;}
    .icones {margin-top: 200px; margin-right: 40px;}
    .content-footer p { padding-right: 100px;}
    .b1,.b2 {width: 295px;}
}

@media (min-width:320px) and (max-width:767px) {
    .image-first {display: none;}
    .container {padding: 0 0 15px 15px; margin-top: 150px;}
    .title-content { margin-top: 70px; margin-bottom: 50px; padding left:5px;}
    .call-content h1 {font-size: 4rem; line-height: 3.5rem; padding-top: 0; padding-bottom: 0;}
    .call-content p {padding-top: 10px; padding-right: 30px; font-size: 1.6rem; line-height: 2.5rem;}
    .container-black {width: 375px; margin:166px 0;}
    .card {width: 371px; margin: 0; top:997px; left:0;}
    .image-relative img {width:280px; left:48px; bottom: 0;}
    .image-absolute img {width:208px; height: 430px; top: 500px; left: 80px; }
    .b1,.b2 {width: 296px;}
    #footer {flex-direction: column; flex-wrap: wrap; margin-top:500px;}
    .container-footer {flex-direction: column; gap: 10px;}
    .content-footer p {padding: 10px; margin-bottom: 50px; font-size: 1.8rem; line-height: 2.9rem;}
    .title2,.icones {margin-left: 15px;}
}

@media (min-width:320px) and (max-width:766px) {
    body {background-position-y:-600px; background-position-x: 70%;}}
}